{% extends 'base.html' %}

{% block content %}

<main class="container py-5">
    <section class="card card-body">

        <h1 class="diaplay-1 text-center">Django App</h1>
    
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure voluptate similique ad quas eveniet explicabo harum excepturi vitae, labore aliquid deserunt, deleniti nam iusto. Explicabo quod non doloribus nihil cupiditate. Perspiciatis, qui impedit! Est, laborum voluptate. Eligendi, quos? Voluptatibus aliquam inventore corporis nihil incidunt asperiores odio saepe, quis sed voluptatem. Mollitia, laudantium ipsam. At, tenetur. Esse dolorem quidem, ullam sequi corporis aperiam possimus aut aliquam quaerat provident perferendis omnis incidunt voluptatem eius odio ipsam asperiores voluptatum ipsa eveniet enim! Aspernatur atque, beatae minima rem corrupti, vitae asperiores neque provident possimus sunt praesentium dolores laudantium, magnam saepe nesciunt eius cupiditate blanditiis.</p>

        <div class="text-center">
            <a class="btn btn-secondary" href="/signin/">
                Signin
            </a>
        
            <a class="btn btn-dark" href="/signup/">
                Signup
            </a>
        </div>

    </section>
</main>

{% endblock %}